$footerHeight: 50px;
$headerHeight: 100px;

html,
body,
.view {
  height: 100%;
}

body {
  background: #151515;
  color: #bec3d7;
}

.page {
  padding-bottom: $footerHeight;
  padding-top: $headerHeight;
  background: url(../images/home-bgr.jpg) top center no-repeat #6b492e;
  background-size: cover;
  color: #fff;
}

.layout-header {
  height: $headerHeight;
  margin-top: -$headerHeight;
  position: relative;
  overflow: hidden;
}

.layout-footer {
  margin-top: -$footerHeight;
  height: $footerHeight;
  background: #151515;
  position: relative;
  color: #777;
  overflow: hidden;
}

.layout-content {
  height: 100%;
}

.fill-page {
  min-height: 600px;
  height: 100%;
}

.page-2fold {
  height: 200%;
  max-height: 1200px;

  .layout-content {
    padding-top: 100px - 50px;
    margin-top: -100px + 50px;
  }

  .last-box {
    padding-bottom: 100px - 50px;
    box-sizing: content-box;
  }
}

.header {
  padding: 20px 0;

  #logo {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    font-weight: normal;
    color: #fff;
    font-size: 40px;

    &:hover {
      text-decoration: none;
    }

    strong {
      font-weight: bold;
    }
  }

  #menu {
    a {
      color: #fff;
      border-radius: 0px;
      font-size: 16px;

      &:hover {
        background: none;
        color: #fff;
        border-bottom: 4px solid $navy;
      }
    }

    li.active a {
      background: none;
      border-bottom: $yellow 4px solid;
    }
  }
}

.footer {
  position: relative;
  padding: 0;
  padding-top: 19px;
}