//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$susy: (columns: 12, container: 1200px, gutters: 1 / 4, global-box-sizing: border-box, debug: (image: show));
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "sass-bootstrap/lib/bootstrap";
@import "utils";
@import "layout";

h3 {
  font-weight: 200;
}

.container-narrow > hr {
  margin: 30px 0;
}

#home-search {
  height: 50%;
  color: #fff;

  h3 {
    margin: 0 0 15px;
  }

  .search-holder {
    h3 {
      text-align: center;
    }

    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#home-howto {
  height: 50%;
  min-height: 400px;
  background: url(../images/original-wood-floor-background-seamless-solutions-unlimited.jpg) top center no-repeat #6b492e;
  background-size: cover;
  color: #fff;
}

$filterHeight: 80px;
$searchHeight: 150px;

#search-results {
  height: 100%;

  //display: none;
  .col-list,
  .col-map {
    height: 100%;
    position: relative;
  }

  .col-list {
    padding: $filterHeight 0 0;
  }

  .col-map {
    padding: $searchHeight 0 0;
  }

  #tutor-list {
    list-style-type: none;
    background: #fff;
    color: $textGray;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    tr {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #ccc;
      }
    }
  }

  .sort-filter {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 20px;
    top: 0px;
    width: 100%;
    height: $filterHeight;
  }

  .search-pane {
    position: absolute;
    width: 100%;
    height: $searchHeight;
    top: 0;
    width: 100%;
    background: $yellow;
    padding: 15px 20px;

    //display: none;
 
  }

  .map-pane {
    height: 100%;
    background: #fff;

    iframe {
      height: 100%;
      border: none;
      outline: none;
    }
  }
}