.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.well-yellow {
  background: $yellow;
  color: $navy;
  border: none;
}

.panel {
  padding: 40px 20px;
}

.bubble {
  background: $navy;
  color: #fff;
  position: relative;
  borser-radius: 3px;

  .content {
    padding: 20px;
  }

  .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: $navy;

    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 10px;
      content: "";
      content: " ";
      left: 1px;
      bottom: -10px;
      border-left-width: 0;
      border-right-color: $navy;
    }
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}