    <div class="header">
        <div class="container">
            <ul class="nav nav-pills pull-right" id="menu">
                <li class="active"><a ng-href="#">start</a></li>
                <li><a ng-href="#/results">najlepsze oferty</a></li>
                <li><a ng-href="#">jak to działa</a></li>
                <li><a ng-href="#">kontakt</a></li>
            </ul>
            <a href="/" id="logo"><strong>na</strong>umie</a>
        </div>
    </div>