<div class="page page-2fold">
    <div ng-include="'views/header.tpl.html'" class="layout-header"></div>
    <div class="layout-content">
    <section id="home-search">
        <div class="container">
            <div class="row search-holder">
                <div class="col-md-3">
                    <h3>Jak to działa</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="col-md-6">
                    <form class="well well-yellow">
                        <h3>Czego chcesz się nauczyć?</h3>
                        <div class="form-group">
                            <input placeholder="Wybierz przedmiot" class="form-control" ng-model="searchCriteria.subject" />                          
                        </div>
                        <div class="form-group">
                            <input placeholder="Wpisz temat przedmiot" class="form-control" ng-model="searchCriteria.topic" />
                        </div>
                        <button class="btn btn-primary" ng-click="gotoResults()">Dalej</button>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="bubble">
                        <div class="arrow"></div>
                        <div class="content">
                            Znajdź interesujące cię korepetycje w <strong>3 prostych krokach</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="home-howto" class="last-box">
        <div class="container">
            FILM
        </div>
    </section>
    </div>
</div>
<div ng-include="'views/footer.tpl.html'" class="layout-footer"></div>
