<div class="page fill-page">
    <div ng-include="'views/header.tpl.html'" class="layout-header"></div>
    <div class="layout-content">
    <div class="row no-gutters" id="search-results">
        <div class="col-md-4 col-list">
            <div class="form-group sort-filter">
                <input placeholder="sortuj według" class="form-control" />
            </div>
            <div  id="tutor-list">
            <table class="table table-striped">
                <tr class="row tutor-item" ng-repeat="tutor in tutorList">
                <td>
                    <img/>
                    </td>
                    <td class="content">
                        <h5>{{tutor.name}}</h5>
                        <stars></stars>
                        <div class="row">
                            <div class="col-md-4">
                                <label>{{tutor.date}}</label>
                                <strong>{{tutor.time}}</strong>
                                <small>{{tutor.place}}</small>
                            </div>
                            <div class="col-md-4">
                                <label>stawka</label>
                                <strong>{{tutor.price}}zł/h</strong>
                            </div>
                            <div class="col-md-4">
                                <strong>{{tutor.studentCount}}</strong>
                                <small>Zapisanych osób</small>
                            </div>
                        </div>
                    </td>
                </tr>
               
            </table>
            </div>
        </div>
        <div class="col-md-8 col-map">
            <div class="search-pane">
                <form class="search-advanced row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input placeholder="Matematyka" ng-model="searchCriteria.subject" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input placeholder="funkcje liniowe" ng-model="searchCriteria.topic" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input placeholder="Warszawa" ng-model="searchCriteria.city" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input placeholder="21-12-2014" ng-model="searchCriteria.date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary">Pokaż</button>
                    </div>
                </form>
            </div>
            <div class="map-pane">
              <iframe width="100%" height="100%" frameborder="0" border=0 scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=20.83728790283203%2C52.14444515792557%2C21.18061065673828%2C52.29798183210937&amp;layer=mapnik"></iframe>
            </div>
        </div>
    </div>
    </div>
</div>
<div ng-include="'views/footer.tpl.html'" class="layout-footer"></div>
